          .loginInput {
              padding: 20px;
              label {
                  display: inline-block;
                  max-width: 100%;
                  margin-bottom: 15px;
                  font-weight: bold;
                  input {
                      width: 330px;
                      height: 50px;
                      padding-left: 40px;
                      background: #fff;
                      font-weight: normal;
                      border: 1px solid #ccc;
                      border-radius: 4px;
                      &:focus {
                          border: 1px solid #49a0c9;
                          outline: none;
                      }
                  }
              }
              button {
                  display: block;
                  width: 100%;
                  border: none;
                  padding: 12px 0;
                  margin-bottom: 0;
                  font-size: 14px;
                  font-weight: normal;
                  line-height: 1.42857143;
                  text-align: center;
                  white-space: nowrap;
                  vertical-align: middle;
                  cursor: pointer;
                  border-radius: 4px;
              }
          }