  body {
      position: relative;
      width:100%;
      height: 100vh;
      background: url(../../img/login_bg.png) no-repeat center center;
      color: #333;
      font-size: 14px;
      font-family: "Microsoft YaHei";
      cursor: default;
      min-width: 1280px;
  }

  .login-box {
      position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      h1 {
          font-size: 30px;
          color: #fff;
          text-align: center;
          margin-bottom: 24px;
      }
      form{
          width:376px;
          height: 300px;
          padding: 15px 0 20px;
          background-color: #fff;
          border-radius: 4px;
          h2{
            margin-top: 0;
            height: 48px;
            border-bottom: 1px solid #ccc;
            text-align: center;
            span{
                display: inline-block;
                height: 48px;
                line-height: 48px;
                border-bottom: 3px solid #3994e0;
                font-size: 18px;
                font-weight: 700;
              }
          }
      }
  }
