  body {
      position: relative;
      width:100%;
      height: 100vh;
      background: url(../../img/login_bg.png) no-repeat center center;
      background-size: cover;
      color: #333;
      font-size: 14px;
      font-family: "Microsoft YaHei";
  }

  .login-box {
      position: absolute;
      top: 50%;
      left:50%;
      min-height: 450px;
      transform: translate(-50%,-50%);
      h1 {
          font-size: 30px;
          color: #fff;
          text-align: center;
          margin-bottom: 24px;
      }
      form{
          width:376px;
          padding: 15px 0 20px;
          background-color: #fff;
          border-radius: 4px;
          .tab-nav{
            border-bottom: 1px solid #ccc;
            text-align: center;
            .nav-slider{
              position: relative;
              display: inline-block;
              a{
                float: left;
                width:4em;
                line-height: 48px;
                font-size: 18px;
                font-weight: bold;
                color:#333;
                opacity: .7;
                cursor:pointer;
                transition: opacity .15s, color .15s;
                -webkit-transition: opacity .15s, color .15s;
                &:hover{
                  opacity:1;
                  text-decoration: none;
                }
              }
              .active{
                opacity: 1;
                color:#3994e0;
              }
              .slidebar{
                position: absolute;
                left:0;
                bottom:0;
                margin:0 .8em;
                width:3.4em;
                height: 3px;
                background: #3994e0;
                -webkit-transition:left .15s ease-in;
                transition:left .15s ease-in;
              } 
            }
          }
      }
  }
