.fence{
	min-height: 824px;
	.left{
		
	}
	.right{
		display: flex;
		flex-direction:column;
		
		.whole{
			position: relative;
			background-color: #202b49;
			margin: 10px;
			flex:1;
		}
	}
	.select_bar{
		position: absolute;
		top: 0;
		left: 80px;
		display: flex;
		align-items: center;
		padding: 10px 20px;
		z-index: 10;
		label{
			color: white;
			font-size: 16px;
			margin-right: 10px;
			margin-bottom: 0;
			height: 25px;

		}
		select{
			background: none;
		    border: #888e9e solid 1px;
		    border-radius: 16px;
		    width: 110px;
		    color: #fff;
		    padding: 1px 15px;
		    margin-right: 10px;
		    option{
		    	color: #b7b7b7;
		    }
		    &:focus{
		    	outline: none;
		    }
		}
		.select2-wrapper{
			.select2-container{
				width: 200px !important;
				border: #888e9e solid 1px;
				border-radius: 16px;
				.select2-selection{
					background: none;
					border: none;
					height: 23px;
					line-height: 23px;
					&:focus{
				    	outline: none;
				    }
					span{
						color: #fff;
						border: none;
						height: 23px;
						line-height: 23px;
					}
				}
				.select2-selection__rendered{
					padding-left: 18px;
				}
				.select2-selection__arrow{
					top: 0;
					right: 0;
				}
				.dropdown-wrapper{
					color: #b7b7b7;
				}
				
			}
		}
				
	}
	.clearall-btn{
		font-size: 12px;
		height: 24px;
	    border: #1968ab solid 1px;
	    border-radius: 15px;
	    padding: 1px 15px;
	    color: #ffffff;
	    background: #1968ab;
	    margin: 0 10px;
	    text-align: center;
	    &:focus{
	    	outline: none;
	    }
	}
}