footer {
	background-color: rgb(24,37,53);
	height: 50px;
    min-height: 40px;
    color: #8c8c8c;
    font-size: 12px;
    border-top: #757988 solid 1px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items:center;
}